.form{
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 77%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 77%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 77%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

    border: 2px solid #357edd;
    border-radius: 25px;
    padding: 10px 25px;
    color: yellowgreen;

}

.form button{
    border-radius: 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+29,f6290c+63,f6290c+68,f6290c+68,f6290c+68,f02f17+71,e73827+100 */
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 29%, #f6290c 63%, #f6290c 68%, #f6290c 68%, #f6290c 68%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 29%,#f6290c 63%,#f6290c 68%,#f6290c 68%,#f6290c 68%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 29%,#f6290c 63%,#f6290c 68%,#f6290c 68%,#f6290c 68%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}

.form button:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}