.user_list{
    border: 2px solid black;


    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+36,d8e1e7+36,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f2f6f8 0%, #d8e1e7 36%, #d8e1e7 36%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f2f6f8 0%,#d8e1e7 36%,#d8e1e7 36%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f2f6f8 0%,#d8e1e7 36%,#d8e1e7 36%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
