.form {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(79, 77, 77, 0.96);
    padding: 10px 5px;
    margin: 5px auto;
    width: 95%;
    background: #c4c2c2;
    border-radius: 35px;

}
.form_title{
    width: 100%;
}

form {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.blockInput {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    justify-content: space-around;
}

input {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 15px;
}

form > button {
    width: 50%;
    padding: 5px;
    font-size: 18px;
}
.park_id_visible>input{
    background: #dc766d;
}
.park_id_invisible{
    display: none;
}